.navbar .nav>li>a.brand {
    padding-left:20px;
    margin-left:0
}

.navbar-brand:before {
    content: ""; float: left; width:24px; height: 35px; margin: -10px 0.5em -5px 0;  background: url('/img/logo-nav.png') 0 0 no-repeat;
}

.content {
    width:100%
}

.content .row {
    margin-bottom: 1em;
}

footer {
    position:fixed;
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;
    background:#ddd;
    -webkit-box-shadow:0 8px 6px 6px black;
    -moz-box-shadow:0 8px 6px 6px black;
    box-shadow:0 8px 6px 6px black
}

footer p {
    padding:5px 0 12px 10px
}