<section class="col-xs-12" data-ng-controller="TabsController" data-ng-init="find()">
    <div class="row">
        <div class="btn-group col-xs-12" data-toggle="buttons">
            <button type="button" class="btn btn-primary btn-lg col-xs-2" ng-model="selectedFilterName" btn-radio="'all'">All</button>
            <button type="button" class="btn btn-primary btn-lg col-xs-3" ng-model="selectedFilterName"  btn-radio="'owsBeer'">Ows Beer</button>
            <button type="button" class="btn btn-primary btn-lg col-xs-3" ng-model="selectedFilterName" btn-radio="'getBeer'">Gets Beers</button>
            <button type="button" class="btn btn-primary btn-lg col-xs-2" ng-model="selectedFilterName" disabled btn-radio="'eighthFloor'">8<sup>th</sup> Floor</button>
            <button type="button" class="btn btn-primary btn-lg col-xs-2" ng-model="selectedFilterName" disabled btn-radio="'ninthFloor'">9<sup>th</sup> Floor</button>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-9 col-md-4" >
            <input class="form-control" name="searchFilter" data-ng-model="searchFilter" placeholder="SEARCH NAME" />
            
        </div>
        <div class="col-xs-1" >
            <h4 class="glyphicon glyphicon-search"></h4>
        </div>
    </div>
	<ul class="tabs row">
		<li data-ng-repeat="tab in tabs| filter:activeFilter | filter:searchFilter">
			<span class="name col-xs-9 col-md-4">{{tab.firstname}} {{tab.lastname}}</span>
			<span class="tab-size right  col-xs-3 col-md-2 text-right">
                <button data-ng-click="tabMinusOne(tab);" class="btn">&ndash;</button>
                <span class="tabCount">{{tab.tab}}</span>
                <button data-ng-click="tabPlusOne(tab);" class="btn">+</button>
            </span>
		</li>
	</ul>
	<h1 data-ng-hide="!tabs || tabs.length">No open taps.</h1>
</section>