<section class="col-xs-12" data-ng-controller="TabsController" data-ng-init="find()">
    <div class="row">
        <div class="btn-group col-xs-12" data-toggle="buttons">
            <button type="button" class="btn btn-primary btn-lg col-xs-4" ng-model="selectedFilterName" btn-radio="'all'">All</button>
            <button type="button" class="btn btn-primary btn-lg col-xs-4" ng-model="selectedFilterName"  btn-radio="'owesBeer'">Owes Beer</button>
            <button type="button" class="btn btn-primary btn-lg col-xs-4" ng-model="selectedFilterName" btn-radio="'getBeer'">Gets Beers</button>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-11 col-md-4" >
            <input class="form-control" name="searchFilter" data-ng-model="searchFilter" placeholder="SEARCH NAME" />
        </div>
        <div class="col-xs-1" >
            <h4 class="glyphicon glyphicon-search"></h4>
        </div>
    </div>
	<ul class="tabs row">
		<li data-ng-repeat="tab in tabs| filter:activeFilter | filter:searchFilter">
			<span class="name col-xs-11 col-md-5">{{tab.firstname}} {{tab.lastname}}</span>
			<span class="tab-size right  col-xs-1">
                <span class="tabCount">{{tab.tab}}</span>
            </span>
		</li>
	</ul>
</section>
